.container-bio {
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.photo-me {
    display: flex;
  flex-direction: row;
  justify-content: left;
  width: 20%;
  height: 20%;
}

div.biography {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:40px;
  color:white;
}