.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color:white;
}

/* p.logos {
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px;
} */

/* a {
      display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: -5px;
} */

img {
  width: 120%;
  height: 120%;
}