div{
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
}

  h1 {
    font-size: 30px;
  font-family: 'DM Serif Display', serif;
  }

  body {
  font-family: 'DM Serif Display', serif;
  }